h1 {
  color: red;
}

h2 {
  color: blue;
}

body {
  text-align: center;
  margin: auto;
}

img:hover {
  box-shadow: 5px 10px green;
}

table,
th,
td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-collapse: collapse;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
